/config.ini
run*/
/wandb/

.idea
.vscode/*
# vscode debug config. Nice-to-have for people who use vscode.
!.vscode/launch.json

__pycache__

# stuff related to generated datasets
*.npy
datasets/nbody/dataset/gravity/metadata.json


segnn_runs/*

.ipynb_checkpoints
