numpy
matplotlib
torch==2.1.0
torchvision
torchaudio
tensorboard
scipy
PyQt5
seaborn
wandb
moviepy
imageio
#torch-scatter -f https://data.pyg.org/whl/torch-2.1.1+cpu.html
#torch-cluster
#torch_geometric
e3nn